[Unit]
Description=Monster Agent Script
After=network.target

[Service]
WorkingDirectory=/var/opt/monster/client/
ExecStart=/var/opt/monster/client/venv/bin/python monster_agent.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target

